@import "../../breakpoints.module";

.AboutMeSection {
  margin: 0 2em 0 2em;
  padding: 3em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(sm) {
    padding: 5em 4em 0 4em;
  }

  .AboutMeTitle {
    font-size: 2em;
    font-weight: bold;
    color: var(--primary-color);
  }

  .AboutMe_Content_and_Photo {
    display: flex;
    flex-direction: column;

    @include breakpoint(md) {
      flex-direction: row;
      gap: 3em;
    }

    .AboutMeContent {
      margin-top: 2em;
      display: flex;
      flex-direction: column;

      @include breakpoint(md) {
        width: 70%;
      }

      .AboutMeDescription {
        color: var(--secondary-color);
        font-size: 1.2em;
        line-height: 1.4em;
        // background-color: yellow;

        .AboutMeQuote {
          display: none;
          position: absolute;
          margin: -2em 0 0 -3em;
          @include breakpoint(sm) {
            display: block;
          }
          .quotation {
            color: var(--primary-color);
            height: 3em;
            width: 3em;
          }
        }
      }

      .AboutMeContacts {
        // background-color: rgb(216, 152, 152);
        margin-top: 2em;
        display: grid;
        grid-template-columns: auto;

        @include breakpoint(sm) {
          grid-template-columns: auto auto;
        }

        .contactItem {
          color: var(--secondary-color);
          font-size: 1em;
          margin-bottom: 1em;
          // background-color: rgb(201, 201, 255);
          display: flex;
          align-items: center;

          .contactValues {
            margin-left: 1em;
          }
        }
      }
    }

    .AboutMeProfilePhoto {
      margin-top: 2em;
      display: flex;
      justify-content: center;

      @include breakpoint(md) {
        margin-top: 0;
      }

      .AboutMeProfilePhotoDots {
        display: none;

        @include breakpoint(md) {
          display: block;
          position: absolute;
          z-index: 1;
          margin-top: -1.5em;
          margin-left: 4em;
          width: 250px;
          height: 250px;
          background: radial-gradient(circle, var(--dot-color) 15%, transparent 20%);
          background-size: 20px 20px;
          /* Adjust size of dots */
        }

        @include breakpoint(lg) {
          width: 300px;
          height: 300px;
        }
      }

      .ProfilePic {
        border-radius: 60em 60em 60em 60em;
        width: 200px;
        height: 200px;
        z-index: 2;

        @include breakpoint(lg) {
          width: 250px;
          height: 250px;
        }
      }
    }
  }

  .AboutMe_buttons {
    // background-color: rgb(255, 195, 195);
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    @include breakpoint(sm) {
      flex-direction: row;
      justify-content: center;
    }
  }
}