@import "../../breakpoints.module";
.AboutMeSection {
    margin: 3em 2em 3em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include breakpoint(sm){
      margin: 3em 4em 3em 4em;
    }
  
    .AboutMeTitle {
      font-size: 2em;
      font-weight: bold;
      color: var(--primary-color);
    }
    .AboutMe_Content_and_Photo{
      display: flex;
      flex-direction: column;
      @include breakpoint(md){
        flex-direction: row;
        gap: 3em;
      }
  
      .AboutMeContent {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        @include breakpoint(md){
          width: 70%;
        }
        .AboutMeDescription {
          color: var(--secondary-color);
          font-size: 1.2em;
          line-height: 1.4em;
          // background-color: yellow;
    
          .AboutMeQuote {
            // background-color: pink;
            position: absolute;
            margin: -2.5em 0 0 -1em;
           
            .quotation {
              opacity: 30%;
              height: 5em;
              width: 5em;
            }
          }
        }
        .AboutMeContacts {
          // background-color: rgb(216, 152, 152);
          margin-top: 2em;
          padding: 0 1em 0 1em;
          display: grid;
          grid-template-columns: auto;
          @include breakpoint(sm){
            grid-template-columns: auto auto;
  
          }
    
          .contactItem {
            color: var(--secondary-color);
            font-size: 1.2em;
            margin-bottom: 1em;
            // background-color: rgb(201, 201, 255);
            display: flex;
            align-items: center;
    
            .contactValues {
              margin-left: 1.5em;
            }
          }
        }
      }
      .AboutMeProfilePhoto {
        margin-top: 2em;
        display: flex;
        justify-content: center;
        @include breakpoint(md){
          margin-top: 0;
        }
        .ProfilePic {
          border-radius: 60em 60em 60em 60em;
          width: 200px;
          height: 200px;
          @include breakpoint(lg){
            width: 250px;
            height: 250px;
          }
        }
      }
    }
    .AboutMe_buttons {
      // background-color: rgb(255, 195, 195);
      width: 100%;
      margin-top: 2em;
      display: flex;
      flex-direction: column;
      gap: 1em;
      @include breakpoint(sm){
        flex-direction: row;
        justify-content: center;
      }
    }
  }