@import "../../breakpoints.module";
.skillsSection {
  .skillsTitle {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    // background-color: pink;
  }
  .toolsDescription {
    color: var(--secondary-color);
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 2em 2em 2em 2em;
  }
  .toolsAndTech {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    row-gap: 1em;
    // background-color:yellow;
    @include breakpoint(xs) {
      grid-template-columns: auto auto auto auto;
    }
    @include breakpoint(sm) {
      grid-template-columns: auto auto auto auto auto;
    }
    .toolsItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      // background-color: pink;
      width: 5em;
      height: 5em;
      .toolsIcon {
        font-size: 1.7em;
        color: var(--primary-color);
      }
      .toolsName {
        font-size: 1em;
        color: var(--primary-color);
        // background-color: pink;
        text-align: center;
      }
    }
  }
}
