@import "../../breakpoints.module";

.projectSection {
  //   background-color: rgb(255, 209, 217);
  margin: 0 2em 0 2em;
  padding: 3em 0 0 0;

  @include breakpoint(sm) {
    padding: 5em 4em 0 4em;
  }


  .projectTitle {
    font-size: 2em;
    font-weight: bold;
    color: var(--primary-color);
    // background-color: violet;
    text-align: center;
  }

  .projectDescription {
    margin-top: 1em;
    color: var(--secondary-color);
    font-size: 1.2em;
    line-height: 1.4em;
  }

  .projectButtons {
    // background-color: rgb(255, 195, 195);
    width: 100%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .getResume {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5em;
      box-shadow: 1px 3px 3px 0px grey;
      text-align: center;
      padding: 1em 2em;
      border-radius: 50px 50px 50px 50px;
      background-color: white;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      text-decoration: none;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    @include breakpoint(sm) {
      flex-direction: row;
      justify-content: center;
    }
  }
}